@charset "UTF-8";
/* CSS Document */

.topnav {
    background-color: #0B5E6D;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #0B5E6D;
    color: white;
}

.active {
    background-color: #0B5E6D;
    color: white;
}

.topnav .icon {
    display: none;
}

display:block; 

margin-right:auto; 

margin-left:auto;